.ra-button {
    padding: .3em .9em; 
    border-radius: .25em; 
    background: linear-gradient(#fff, #efefef); 
    box-shadow: 0 1px .2em gray; 
    display: inline-flex; 
    align-items: center; 
    cursor: pointer;
}

.ra-button img {
    height: 1em; 
    margin: 0 .5em 0 0;
}

#tts-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: fixed;
    max-width: 95vw;
    right: 0;
    top: 42%;
    transform: translateY(-50%);
    z-index: 99999999;
    margin: 10px !important;
}

#tts-button-icon {
    display: flex;
    width: 40px;
    height: auto;
}